body {
    background-color: #ebebeb !important;
}

header{
    text-align: center;
    padding: 20px;
}

h1, h5 {
    color: #333;
}

.hidden {
    display: none;
}

/*form ====================*/
#main-container {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 10px auto;
    padding: 25px;
}
#min-inputs .form-label {
    margin-left: 12px;
}

#form-container .form-control {
    color: #6c757d;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
}

#form-container .form-control:focus {
    box-shadow: none;
}

#form-container .form-floating label {
    color: #CCC;
}

#form-container .form-floating > .form-control:focus~label {
    color: #333;
}

#autor-area {
    padding: 20px 0px 5px 0px;
}

input[type="file"]{
    display: none;
}

input[type="date"]{
    color: #6c757d;
    
}
input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 30%;
}


#form-container .btn-outline-secondary{
    border-radius: 20px;
}

#autor-area h6 {
    margin-bottom: 15px;
}
#autor-area .btn:focus {
    box-shadow: none;
}
#autor-area label {
    font-size: 14px;
    color: #6c757d;
}
#autor-area p {
    font-size: 12px;
    margin-top: 8px;
}

#form-container a {
    color: #333;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    z-index: 0;
}

#form-container a::before{
    content: "";
    inset: 0;
    background: #ED8E53;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

#form-container a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #333;
}

#form-container a:hover {
    color: #fff;
}

#form-container h6 {
    color: #6c757d;
}

#form-container .form-select {
    color: #6c757d;

    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
}

#form-container .form-select > option {
    color: #6c757d;
}

#form-container .form-select:focus {
    box-shadow: none;
}

#form-container .btn-form {
    margin-top: -10px;
    width: 100%;
    background-color: #ED8E53;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

#form-container .btn-form:focus {
    box-shadow: none;
}

#form-container .btn-form:hover {
    background-color: #eb7831;
}

#form-container .loading{
    width: 20px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}


/* Slider */
#slider-container .carousel-inner{
    margin-top: 50px;
    border-radius: 5px;
}

#slider-container h5 {
    color: #ffffff;
    text-shadow: #222 1px 1px;
}

#slider-container .btn-dark:focus {
    box-shadow: none;
}

.container-footer {

    margin-top: 30px;
    padding-bottom: 20px;

    background-color: #CCC
}
.text-footer {
    color: #6c757d;
    padding-top: 10px
}
.img-footer-left {

    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.logo-igreja {
    width: 175px;;
    padding: 25px 0 10px 0;
}
.logo-retiro {
    width: 175px;;
    padding-bottom: 15px;
}

.text-footer{
    text-align: center;
    padding-top: 20px;
    margin-bottom: .2em;
}
.txt2{
    padding-top: 0;
}

.text-contact {
    text-align: center;
}

.text-contact a {

    text-decoration: underline;

    color: #333;
    font-weight: 500;
    transition: 0.2s;
}
.text-contact a:hover {
    color: #eb7831;

}

.text-extra-footer {
    margin-top: 20px;
    text-align: end;
}
.img-logo {
    width: 90px;
    padding: 15px 0 10px 0;

    display: block;

    margin-left: 0;
    margin-right: auto;

    opacity: 0.5;
}



/* TELA DE SUCESSOS ======================== */
#main-container .text-data {
    margin-bottom: 5px;
}
#main-container .text-email {
    overflow-wrap: break-word;
}
.link{
    margin-bottom: 36px;
    font-size: 12px;
}
#link-down {
    text-align: right;
}

#pass-container{
    position: relative;
    width: 100%;
}
#pass-container .img-overlay{
    width: 100%;
    border: none;
    box-shadow: .5px 5px 5px rgba(0, 0, 0, .2);
}

#btn-act p {
    font-size: 14px;
}

#btn-pagamento {
    margin-bottom: 25px;
}

.center-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    /* position: absolute; */
    margin-top: 15px;
    margin-bottom: -5px;

    width: 180px;
    height: 40px;

    font-size: 16px;
    color: #fff;

    background-color: #202231;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: width .5s;
    border-radius: .5s;
}
.text {
    padding: auto;
}
.button *{
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: opacity .5s;
}
.button:focus {
    width: 40px;
    height: 40px;

    background-color: #44c08a;

    border-radius: 50%;
}
.button:focus .text{
    transition-delay: .5s;
}
.button:focus .icon{
    transition-delay: .5s;
}


@media only screen and (max-width: 1440px) {
    #pass-container{
        position: relative;
        width: 50%;

        margin-top: -17%;
    }
    
    #btn-act{
        margin-top: -17%;
    }
}

@media only screen and (max-width: 1024px) {
    #pass-container{
        position: relative;
        width: 50%;

        margin-top: -30%;
    }
    
    #btn-act{
        margin-top: -30%;
    }
}

@media only screen and (max-width: 768px) {
    #pass-container{
        position: relative;
        width: 100%;

        margin-top: 0;

        order: -1 !important;
    }

    #btn-act{
        margin-top: 0;
    }
}

@media(min-width: 768px) {
    #form-container .btn-finish{
        display: flex;
        justify-content: space-around;
    }
    #form-container .btn-form{
        width: 50%;
    }

    #slider-container .carousel-inner{
        width: 95% !important;
        margin-top: -10px;
        margin-left: 5px;
        border-radius: 5px;
    }
    .text-footer{
        text-align: center;
        padding-top: 20px;
        /* margin-left: 35px; */
        margin-bottom: .2em;
    }
    .txt2{
        padding-top: 0;
    }
    .text-contact {
        text-align: center;
        /* margin-left: 35px; */
        margin-bottom: 0;
        padding-bottom: 7px;

    }
    hr {
        width: 100%;

        border: none;
        border-top: 1px solid;
    }


    /* TELA DE SUCESSOS */
    #btn-act{
        margin-left:auto;
        /* margin-top: -155px; */
        padding-bottom: 30px;
    }
    
    #btn-pagamento,
    #btn-whats{
        width: 50%;
    }

}